# Django
DJANGO_SECRET_KEY=change-me-to-a-random-string
DJANGO_DEBUG=False
LANGUAGE_CODE=en
# By default, allowed hosts is *. Uncomment and set the desired values if you want to make it more restrictive
#ALLOWED_HOSTS=*
# Add your external URL if behind a reverse proxyto prevent CSRF errors
#CSRF_TRUSTED_ORIGINS=https://my.domain.com/

# MariaDB
DB_ENGINE=mariadb
DB_NAME=storyteller
DB_USER=storyteller
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=3306
MARIADB_ROOT_PASSWORD=change-me-root

# Redis
REDIS_URL=redis://redis:6379/0

# OIDC (optional)
# OIDC_DISCOVERY_URL=
# OIDC_CLIENT_ID=
# OIDC_CLIENT_SECRET=
